@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.font-1{
	font-family: 'Bebas Neue', cursive;
	letter-spacing: 2px;

	@apply uppercase;
}

.font-2{
	font-family: 'Montserrat', sans-serif;
}

.font-invaders{
	font-family: 'Invaders', sans-serif;
}
