html {
	scroll-behavior: smooth;
	height: -webkit-fill-available;
}

body {
	@apply w-screen;
	@apply overflow-x-hidden;
	//@apply min-h-screen;

	min-height: -webkit-fill-available;
}

.page-section {
	@apply p-3;
	@apply md:pt-16;
	@apply md:pl-8;
	@apply md:h-screen;
}

#content-wrapper {
	@screen md {
		& {
			margin-left: 25%;
		}
	}
}

.white-space {
	white-space: normal !important;
}
