#sidebar {
	-webkit-transition: left 0.4s 0s ease;
	-moz-transition:    left 0.4s 0s ease;
	-o-transition:      left 0.4s 0s ease;
	transition:         left 0.4s 0s ease;

	&.closed {
		@apply -left-full;
		@apply md:left-0;
	}

	#menu {
		li {
			a {
				@apply text-center;
				@apply md:text-right;
				@apply uppercase;
				@apply font-1;
				@apply border-b-2;
				@apply border-gray-300;
				@apply hover:border-green-500;
				@apply text-black;
				@apply block;
				@apply text-xl;
				@apply p-2;
				@apply dark:border-gray-500;
				@apply dark:text-gray-100;
				@apply dark:hover:border-pink-500;

				&.active {
					@apply border-green-500;
					@apply bg-gray-300;
					@apply dark:bg-gray-600;
					@apply dark:border-pink-500;
				}
			}
		}
	}
}
