#sidebar {
	-webkit-transition: left 0.4s 0s ease;
	-moz-transition:    left 0.4s 0s ease;
	-o-transition:      left 0.4s 0s ease;
	transition:         left 0.4s 0s ease;

	&.closed {
		@apply -left-full;
		@apply md:left-0;
	}

	#menu {
		li {
			a {
				@apply text-center;
				@apply md:text-right;
				@apply uppercase;
				@apply font-1;
				@apply border-b-2;
				@apply border-gray-300;
				@apply hover:border-black;
				@apply text-black;
				@apply block;
				@apply text-xl;
				@apply p-2;
				@apply dark:text-white;

				&.active {
					@apply border-black;
					@apply bg-gray-300;
				}
			}
		}
	}

	#language-selector {
		a {
			&.active {
				@apply font-bold;
				@apply text-black;
				@apply dark:text-white;
			}
		}
	}
}
