#sidebar {
	-webkit-transition: left 0.4s 0s ease;
	-moz-transition:    left 0.4s 0s ease;
	-o-transition:      left 0.4s 0s ease;
	transition:         left 0.4s 0s ease;

	#menu {
		li {
			a {
				@apply tw-text-center;
				@apply md:tw-text-right;
				@apply tw-uppercase;
				@apply font-1;
				@apply tw-border-b-2;
				@apply tw-border-gray-300;
				@apply hover:tw-border-black;
				@apply tw-text-black;
				@apply tw-block;
				@apply tw-text-xl;
				@apply tw-p-2;

				&.active {
					@apply tw-border-black;
					@apply tw-bg-gray-300;
				}
			}
		}
	}

	#language-selector{
		a{
			&.active{
				@apply tw-font-bold;
				@apply tw-text-black;
			}
		}
	}
}
