#sidebar {
	@extend .bg-light;

	#menu {
		li {
			a {
				@extend .text-dark;

				&.active, &:hover {
					@extend .border-dark;

					background-color: $gray-300;
				}
			}
		}
	}
}

#navbar {
	@extend .navbar-light;
	@extend .bg-light;
}

#home {
	#teaser {
		color: $gray-600;
	}

	#social-icons {
		#facebook {
			color: $gray-600;

			&:hover {
				color: #4267b2;
			}
		}

		#linkedin {
			color: $gray-600;

			&:hover {
				color: #2867b2;
			}
		}

		#twitter {
			color: $gray-600;

			&:hover {
				color: #1da1f2;
			}
		}

		#instagram {
			color: $gray-600;

			&:hover {
				color: #e1306c;
			}
		}

		#github {
			color: $gray-600;

			&:hover {
				color: #171515;
			}
		}
	}
}
